AlarmSchema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.example.org/Schema" xmlns:tns="http://www.example.org/Schema" elementFormDefault="qualified">
  <xs:element name="alarm">
    <xs:complexType>
      <xs:sequence>      
        <xs:element name="dateTime" type="xs:string" />
      	<xs:element name="message" type="xs:string" />
      	<xs:element name="audio" type="xs:string" />     
      </xs:sequence>    
    </xs:complexType>  
  </xs:element>
</xs:schema>